<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.controlderuta.guardianroute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapprutas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapprutas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Para foto -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.controlderuta.guardianroute"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewMapActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_new_map"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TransitionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AbordajeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PersonalDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RouteNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewCreateRouteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewAlertActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConfirmationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RouteListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RemoveRouteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateRouteMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UsersListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserListCallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PointEndActivity"
            android:screenOrientation="portrait"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
                    <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyD-BTV8T07NjwXs5Zb5nSTzsJ5YBuLc_AQ" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SendCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PerfilEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditLastNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditPhoneActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>