<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.controlderuta.guardianroute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Para foto -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.controlderuta.guardianroute"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps_rutas"
            android:parentActivityName=".TransitionActivity">
            <meta-data
                android:name="android.support.PARENT.ACTIVITY"
                android:value=".TransitionActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".TransitionActivity" />
        <activity android:name=".PhotoActivity" />

        <receiver android:name=".AlarmNotificationReceiver" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-BTV8T07NjwXs5Zb5nSTzsJ5YBuLc_AQ" />

        <activity android:name=".CallActivity" />
        <activity android:name=".AlertasActivity" />
        <activity android:name=".AbordajeActivity" />
        <activity android:name=".NameRouteActivity" />
        <activity android:name=".TypeRouteActivity" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".PersonalDataActivity" />
        <activity android:name=".IdCarActivity" />
        <activity android:name=".RouteNameActivity" />
        <activity android:name=".CodeActivity" />
        <activity android:name=".NewCreateRouteActivity" />
        <activity android:name=".ReliefActivity" />
        <activity android:name=".NewAlertActivity" />
        <activity android:name=".ConfirmationActivity" />
        <activity android:name=".RouteListActivity" />
        <activity android:name=".PruebaActivity" />
        <activity
            android:name=".NewMapActivity"
            android:label="@string/title_activity_new_map"
            android:theme="@style/AppTheme" />
        <activity android:name=".RemoveRouteActivity" />
        <activity android:name=".SelectListActivity" />
        <activity android:name=".CreateRouteMenuActivity" />
        <activity android:name=".UsersListActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".UserListCallActivity"></activity>
    </application>

</manifest>